@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li{
      list-style: none;
  }
  :root{
      --main-black : #1e272e;
      --main-blue : #0097e6; 
  }
  html{
      font-size: 62.5%;
      
  }
  .home_main{
      font-family: 'Raleway',sans-serif;
      display: flex;
      width: 90%;
      margin: 8rem auto;
     
  }
  .left_side{
      width: 50%;
  }
  .left_side small{
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .left_side h2{
      font-size: 3rem;
      font-weight: bold;
      margin:  1rem 0;
  }
  .left_side p{
      max-width: 70rem;
      font-size: 1.5rem;
      margin: 10px 0;
      padding: 0 5px ;
      color: gray;
      margin: 2rem 0;
      line-height: 2.3rem;
      font-family: 'Poppins', sans-serif;

       
  }
  
  .social_links{
      display: flex;
      width: 30rem;
      align-items: center;
      margin: 2rem 0;  
      cursor: pointer;

  }
  .fa-facebook{
      color: var(--main-blue);
  }
  .fa-instagram{
    color: #f73152;
}
.fa-linkedin{
    color: var(--main-blue);
}
  .right_side{
    width: 50%;
  
}
.right_side .img_contaner{
    width: 30rem;
    height: 30rem;
    overflow: hidden;
     margin: auto;
     position: relative;
     border-radius: 5px;

     
}
.right_side .img_contaner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -10000;
}
hr{
    margin-left: 5rem;
     
}
b{
    color:var(--main-blue)
}


@media (max-width:700px){
    .home_main{
        flex-direction: column-reverse;
        margin: 9rem auto 3rem auto;  
    }
    
    .left_side{
        width: 100%;
        margin: 4rem 0;
    }
    .right_side{
        width: 100%;
    }
    .right_side .img_contaner{
        width: 100%;
        height:100%;
    }
    hr{
        display: none;
    }

}
 
 